#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  background-color: #F9F4EC;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

@media (prefers-color-scheme: light) {
  #root {
    color: #213547;
    background-color: #F9F4EC;
    height: 100%;
    width: 100%;
  }
}
